<!DOCTYPE html>
<html lang="fr">

{% include "layout/header.html" %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/paquet.css') }}">

<body>

{% include "layout/nav.html" %}

<header id="head" class="secondary"></header>

<div class="container page-wrapper">

    <h1 class="title">Catégories</h1>

    <p class="subtitle">
        Renommez ou supprimez les catégories.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- GRID -->
    <div class="grid">

        <!-- PAQUETS -->
        {% for categorie in categories %}

            <div class="card">

                <!-- TITRE -->
                <div class="card-title">
                    {{ categorie.nomcategorie }}
                </div>

                <!-- ACTIONS -->
                <div class="card-actions">

                    <!-- MODIFIER -->
                    <a href="/categorie/renommer/{{ categorie.idcategorie }}" class="btn-edit">
                        <img src="/static/images/compose.png"
                             alt="Renommer"
                             class="icon-edit">
                        Renommer
                    </a>

                    <!-- SUPPRIMER -->
                    <a href="/categorie/supprimer/{{ categorie.idcategorie }}"
                       class="btn-delete"
                       onclick="return confirm('Supprimer cette catégorie ?')">
                        <img src="{{ url_for('static', filename='images/bin.png') }}"
                             alt="Supprimer"
                             class="icon-delete">
                        Supprimer
                    </a>

                </div>

            </div>

        {% endfor %}

        <!-- CREER -->
        <a href="/categorie/creation" class="card add">
            <div style="font-size:80px;">+</div>
        </a>

    </div>

</div>

{% include "layout/footer.html" %}

</body>
</html>