<!DOCTYPE html>
<html lang="fr">

{% include "layout/header.html" %}

<body>

{% include "layout/nav.html" %}

<header id="head" class="secondary"></header>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/paquet.css') }}">

<div class="container">

    <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li class="active">Création catégorie</li>
    </ol>

    <div class="form-container">

        <h1 class="page-title">
            Créer une catégorie
        </h1>

        <form method="POST">

            <!-- NOM DU NOUVEAU PAQUET -->
            <div class="form-group">

                <label>Nom de la catégorie</label>

                <input type="text"
                       name="nomcategorie"
                       class="form-control"
                       placeholder="Ex: Maths"
                       required>

            </div>

            <br>

            <!-- BOUTON -->
            <button type="submit"
                    class="btn btn-primary btn-block">

                Créer la catégorie

            </button>

        </form>

    </div>

</div>

{% include "layout/footer.html" %}

</body>
</html>