<!DOCTYPE html>
<html lang="en">
  {% include "layout/header.html" %}
  <body>
    {% include "layout/nav.html" %}

    <header id="head" class="secondary"></header>

    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li class="active">paquet</li>
      </ol>


    
    {% include "layout/footermain.html" %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="static/js/headroom.min.js"></script>
    <script src="static/js/jQuery.headroom.min.js"></script>
    <script src="static/js/template.js"></script>
  </body>
</html>