<footer id="footer" class="top-space">
      <div class="footer1">
        <div class="container">
          <div class="row">
            <div class="col-md-3 widget">
              <h3 class="widget-title">Contact</h3>
              <div class="widget-body">
                <p>
                  <a href="mailto:#">camille.da-silva@alumni.enac.fr</a><br />
                  <br />
                  7 Avenue Edouard Belin<br />
                  31 400 Toulouse<br />
                </p>
              </div>
            </div>

            <div class="col-md-6 widget">
              <h3 class="widget-title">Message de l'équipe</h3>
              <div class="widget-body">
                <p>
                   Ce projet est réalisé dans le cadre d'un projet de groupe de l'Ecole Nationale de l'Aviation Civile. Nous sommes quatre étudiants en première année d'école d'ingénieur, et nous avons travaillé ensemble pour créer ce site web. Nous espérons que vous apprécierez notre travail !
                </p>
                <p>
                  Bonne chance dans vos révisions !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 widget">
              <div class="widget-body">
                <p class="simplenav">
                  <a href="#">Accueil</a> | <a href="/about">A propos de nous</a> |
                  <a href="/contact">Contact</a> |
                  <b><a href="/signup">S'inscrire</a></b>
                </p>
              </div>
            </div>

            <div class="col-md-6 widget">
              <div class="widget-body">
                <p class="text-right">
                  Copyright &copy; 2014, Your name. Designed by
                  <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

   
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/headroom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jQuery.headroom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
